<div class="p-5">
  <h1 class="text-center text-success">POMOLA</h1>
  <p class="text-center">Welcome to POMOLA</p>
  <p class="text-center">
    <i class="text-danger">Created by: Hai H. Nguyen</i>
  </p>
</div>