@import "bootstrap";
.height-95 {
  height: 95vh;
  max-height: calc(100vh - 100px);
  overflow: scroll;
}
.height-9 {
  height: 5vh;
  min-height: 100px;
}
.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
@font-face {
  src: font-url('Meslo.ttf');
  font-family: Meslo;
}
body {
  font-family: Meslo, Monaco;
  font-size: 14px;
  min-height: 100vh;
  background: -moz-linear-gradient(-45deg,  #EA5C54  0%, #bb6dec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#EA5C54 ), color-stop(100%,#bb6dec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* IE10+ */
  background: linear-gradient(135deg,  #EA5C54  0%,#bb6dec 100%); /* W3C */
}
#top-right-header {
}
.task {
  margin-bottom: 8px;
  &[data-action="begin_task"]{
    color: orange;
  }
  &[data-action="stop_task"]{
    color: red;
  }
  &[data-action="check_task"]{
    text-decoration: line-through;
    color: #cbd5e0;
  }
  .task-serial {
    color: #cbd5e0;
  }
}
.category-box {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.border-r-2 {
  border-right: 2px solid;
}
.text-stall-dim {
  color: #a0aec0;
}
.border-stall-dim {
  border-color: #a0aec0;
}
.border-orange {
  border-color: orange;
}
.border-green {
  border-color: green;
}
.list-in-1 {
  .column-list {
    width: 100%;
  }
}
.list-in-3 {
  .column-list {
    width: calc(100% /3);
  }
}
.list-in-2 {
  .column-list {
    width: 50%;
  }
}
.column-list {
  padding: 15px;
  border-right: 1px solid rgb(203, 213, 224);
}
.column-list:last-child {
  border-right: 0;
}
#pomo-page {
  overflow: hidden;
  .column-list {
    height: calc(100vh - 45px);
    overflow-y: scroll;
  }
}
.bg-light {
  background-color: #e2e8f0;
}
.command-box {
  height: 40px;
  position: fixed;
  top: 36%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(203, 213, 224);
  border-radius: 8px;
  #command-form {
    height: 100%;
    #command-input {
      width: 100%;
      height: 100%;
      border: 0;
      background-color: transparent;
      padding: 10px 8px;
      &::placeholder{
        color: rgb(203,213,224);
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.header {
  height: 45px;
  background-color: #eee;
  border: 1px solid rgb(203, 213, 224);
  border-left: 0;
  border-right: 0;
  .logo-text {
    position: relative;
    background: -moz-linear-gradient(-45deg,  #EA5C54  0%, #bb6dec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#EA5C54 ), color-stop(100%,#bb6dec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* IE10+ */
    background: linear-gradient(135deg,  #EA5C54  0%,#bb6dec 100%); /* W3C */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;

    color: transparent;
    text-stroke: 10px;
    text-shadow: 0 0 15px rgba(221,221,221,0.2);
    transition: text-shadow 0.35s linear;
  }
}
.text-large {
  font-size: 18px;
}
.text-small {
  font-size: 12px;
}
.height-100{
  height: 100%;
}
.account-box {
  li {
    list-style: none;
    a {
      color: #a0aec0;
    }
  }
}
.box-shadow-5 {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}

.user-box {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    width: 450px;
    max-width: calc(100% - 30px);
    .user_remember_me {
      display: flex;
      align-items: center;
      label {
        margin-bottom: 0;
      }
    }
    input {
      &.user-input {
        width: 100%;
        margin-bottom: 10px;
        background: rgba(0, 0, 0, 0.3);
        outline: none;
        padding: 10px;
        font-size: 14px;
        letter-spacing: 1.5px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
        -webkit-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
        &::placeholder {
          color: #f1f1f1;
        }
      }
      &.btn-submit {
        width: 100%;
        background-color: #4a77d4;
        background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
        background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
        background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
        background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
        background-image: linear-gradient(top, #6eb6de, #4a77d4);
        background-repeat: repeat-x;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
        border: 1px solid #3762bc;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
        color: #fff;
        margin-top: 20px;
        &:hover {
          filter: none;
          background-color: #4a77d4;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
      }
      &[type="checkbox"] {
        margin-right: 10px;
      }
    }
  }
  .btn-link {
    color: #fff;
  }
  .btn-link-text {
    color: #fff;
  }
}
#pomo-help-box {
  display: block;
  width: 300px;
  position: fixed;
  bottom: 10px;
  right: 10px;

}
